{% extends 'base.html' %}

{% block content_body %}
    {% for algorihtm in algortims %}
        {% with algorithm_title=algorihtm.algorithm_title,
                algorithm_desc=algorihtm.algorithm_desc,
                algorithm_form_id=algorihtm.algorithm_form_id,
                algorithm_result_id=algorihtm.algorithm_result_id %}
            {% include 'components/algorithm_row.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}